<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>异清轩博客文章页面</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/nprogress.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<script src="0101util/ckeditor/ckeditor.js"></script>
<style type="text/css">
#b1 {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
#err{
color: red
}
</style>
<!--[if gte IE 9]>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/html5shiv.min.js" type="text/javascript"></script>
  <script src="js/respond.min.js" type="text/javascript"></script>
  <script src="js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select single">
	<header class="header" th:replace="index::.header"> </header>
	<section class="container">
		<div class="content-wrap">
			<div class="content" style="background-color: #F8F8FF">
				<form action="addArticle.do" method="post" >
				   标题:<span id="err" th:if="${errors}!=null" th:text="${errors.get('title')}"></span><br>
				   <input name="title" th:value="${Article}!=null?${Article.title}:''" style="width: 400px"><br>
				   
				   分类:<span id="err" th:if="${errors}!=null" th:text="${errors.get('categoryid')}"></span><br>
				   <input name="categoryid" th:value="${Article}!=null?${Article.categoryid}:''" style="width: 400px"><br>
				   
				   标签:<span id="err" th:if="${errors}!=null" th:text="${errors.get('label')}"></span><br>
				   <input name="label" th:value="${Article}!=null?${Article.label}:''" style="width: 400px"><br>
				   
				   内容:<span id="err" th:if="${errors}!=null" th:text="${errors.get('content')}"></span><textarea name="content" id="content" th:value="${Article}!=null?${Article.content}:''"></textarea>
				<script>
                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                CKEDITOR.replace( 'content' );
               </script>
			   <button id="b1">发表</button>
				</form>
			</div>
		</div>
		<aside class="sidebar" th:replace="index::.sidebar">
			
		</aside>
	</section>
	<footer class="footer" th:replace="index::.footer"> </footer>
	<div th:replace="index::#last"></div>
</body>
</html>