<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>异清轩博客文章页面</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/nprogress.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/html5shiv.min.js" type="text/javascript"></script>
  <script src="js/respond.min.js" type="text/javascript"></script>
  <script src="js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select single">
<header class="header" th:replace="index::.header">
 
</header>
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="article.html" th:text="${art.title}">php如何判断一个日期的格式是否正确</a></h1>
        <div class="article-meta"> <span class="item article-meta-time">
          <time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：2016-1-4 10:29:39">
          <i class="glyphicon glyphicon-time"></i><span th:text="${art.createtime}"> 2016-1-4 10:29:39</span></time>
          </span> 
          <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：第一PHP社区">
          <i class="glyphicon glyphicon-globe"></i> 第一PHP社区</span> 
          <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：后端程序">
          <i class="glyphicon glyphicon-list"></i> 
          <a href="program" title=""><span th:text="${art.category.name}">后端程序</span></a></span> 
          <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：120">
          <i class="glyphicon glyphicon-eye-open"></i><span th:text="${art.readcnt}"> 共120人围观</span></span> 
          <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0">
          <i class="glyphicon glyphicon-comment"></i><span th:text="${art.agreecnt}"> 0个不明物体</span></span> </div>
      </header>
      <article class="article-content">
        <p><img data-original="images/banner/banner_03.jpg" src="images/banner/banner_03.jpg" alt="" /></p>
        <div th:utext="${art.content}">
        
        </div>
      </article>
      <div class="article-tags">标签：<a href="" rel="tag">PHP</a></div>
      <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
          <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
        </ul>
      </div>
      <div class="title" id="comment">
        <h3>评论 <small>抢沙发</small></h3>
      </div>
      <!--<div id="respond">
        <div class="comment-signarea">
          <h3 class="text-muted">评论前必须登录！</h3>
          <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
          <h3 class="text-muted">当前文章禁止评论</h3>
        </div>
      </div>-->
      <div id="comm">
      <div id="respond">
        <form action="" method="post" id="comment-form">
          <div class="comment">
            <div class="comment-title"><img class="avatar" th:src="${session.loginedUser.head}" alt="" /></div>
            <div class="comment-box">
              <textarea v-model="content" placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <input type="hidden" v-model="articleid" th:value="art.id">
              <div class="comment-ctrl"> <span class="emotion"><img src="/images/face/5.png" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                <input type="hidden" value="1" class="articleid" />
                <button type="button" @click="commit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="postcomments">
        <ol class="commentlist" v-for="c in commitList">
          <li class="comment-content"><span class="comment-f"></span>
            <div class="comment-avatar"><img class="avatar" :src="c.user.head" alt="" /></div>
            <div class="comment-main">
              <p><span>{{c.user.account}}</span><span class="time">({{c.createtime.substring(0,10)}})</span><br />
                   <span>{{c.content}}</span>               </p>
            </div>
          </li>
        </ol>
        
        <div class="quotes"><span class="disabled">首页</span><span class="disabled">上一页</span><a class="current">1</a><a href="">2</a><span class="disabled">下一页</span><span class="disabled">尾页</span></div>
      </div>
      </div>
      <script type="text/javascript">
      var vue=new Vue({
    	  el:"#comm",
    	  data:{
    		  content:"",
    		  articleid:[[${art.id}]],
    		  commitList:[]
    	  },
    	  created:function(){
    		  this.query();
    	  },
    	  methods:{
    		  query(){
    			  axios.get("query?articleid="+this.articleid).then(res=>{
        			  this.commitList=res.data.data;
        		  });  
    		  },
    		  commit(){
    			  var params=new URLSearchParams();
    			  params.append("content",this.content);
    			  params.append("articleid",this.articleid);
    			  axios.post("comment.do",params).then(res=>{
    				 if(res.data.code==1){
    					 this.commitList.push=res.data.data; 
    				 }else{
    					 alert(res.data.msg);
    					 this.query();
    					 this.content="";
    				 }
    			  });
    		  },
    	  }
      });
      
      
      
      
      </script>
    </div>
  </div>
  <aside class="sidebar" th:replace="index::.sidebar">
    
  </aside>
</section>
<footer class="footer" th:replace="index::.footer">
  
</footer>
<div th:replace="index::#last">
</div>

<script src="js/jquery.qqFace.js"></script> 

</body>
</html>