<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>异清轩博客友情链接</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/nprogress.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/html5shiv.min.js" type="text/javascript"></script>
  <script src="js/respond.min.js" type="text/javascript"></script>
  <script src="js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>
<style type="text/css">
#b1 {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
#err{
color: red
}
</style>
<body class="user-select">
<header class="header" th:replace="index::.header">
  
</header>
<section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
        <li><a href="toTags">标签云</a></li>
        <li><a href="read">读者墙</a></li>
        <li><a href="link">友情链接</a></li>
        <li><a href="userinfo">个人信息</a></li>
        <li><a href="osad" th:if="${session.loginedUser.name}=='admin'">网站公告</a></li>
      </ul>
    </div>
  </div>
  <div class="content" style="width: 1100px;background-color: #F8F8FF" >
    <header class="article-header">
      <h1 class="article-title">今日推荐+每日一句</h1>
    </header>
    <div><form action="daysput.do" method="post">
    
    <span style="font-size: 1.2em">标题：<span id="err" th:if="${errors}!=null" th:text="${errors.get('title')}"></span></span><br>
    <input name="title" th:value="${sp}!=null?${sp.title}:''" style="width: 200px;height: 30px"><br>
    
    <span style="font-size: 1.2em">内容简略：<span id="err" th:if="${errors}!=null" th:text="${errors.get('content')}"></span></span><br>
    <textarea name="content" th:value="${sp}!=null?${sp.content}:''" style="width: 200px;height: 100px">
    </textarea>
    <br>
    
    <span style="font-size: 1.2em">url：<span id="err" th:if="${errors}!=null" th:text="${errors.get('url')}"></span></span><br>
    <input name="url" th:value="${sp}!=null?${sp.url}:''" style="width: 200px;height: 30px"><br>
    
    <button id="b1">提交</button>
    
    </form></div>
    
    <div style="position: relative;left: 300px;bottom: 270px"><form action="osad.do" method="post">
    
    <span style="font-size: 1.2em">中文句子：<span id="err" th:if="${errors}!=null" th:text="${errors.get('statement')}"></span></span><br>
    <input name="statement" th:value="${os}!=null?${os.statement}:''" style="width: 200px;height: 30px"><br>
    
    <span style="font-size: 1.2em">英文句子：<span id="err" th:if="${errors}!=null" th:text="${errors.get('estatement')}"></span></span><br>
    <input name="estatement" th:value="${os}!=null?${os.estatement}:''" style="width: 200px;height: 30px">
    
    <br>
    
    <span style="font-size: 1.2em">作者：<span id="err" th:if="${errors}!=null" th:text="${errors.get('author')}"></span></span><br>
    <input name="author" th:value="${os}!=null?${os.author}:''" style="width: 200px;height: 30px"><br>
    
    <button id="b1">提交</button>
    
    </form></div>
      
      
     
  </div>
</section>
<footer class="footer" th:replace="index::.footer">
  
</footer>

<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.ias.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>