<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>异清轩博客文章页面</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/nprogress.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
<link rel="shortcut icon" href="images/icon/favicon.ico">
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<style type="text/css">
.e{
 color: red;
}
</style>
<!--[if gte IE 9]>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/html5shiv.min.js" type="text/javascript"></script>
  <script src="js/respond.min.js" type="text/javascript"></script>
  <script src="js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select single">
	<header class="header" th:replace="index::.header"> </header>
	<section class="container">
		<div class="content-wrap">
			<div class="content">
			
				<form action="reg.do" method="post" >
				    
				
					用户名:<input name="account" th:value="${user}!=null?${user.account}:''">
					<span class="e" th:if="${errors}!=null" th:text="${errors.get('account')}"></span><br>
					
					 姓名:<input name="name" th:value="${user}!=null?${user.name}:''">
					<span class="e" th:if="${errors}!=null" th:text="${errors.get('name')}"></span><br>
					
					密码:<input name="pwd" type="password" th:value="${user}!=null?${user.pwd}:''">
					<span class="e" th:if="${errors}!=null" th:text="${errors.get('pwd')}"></span><br>
					
					phone:<input name="phone"  th:value="${user}!=null?${user.phone}:''">
					<span class="e" th:if="${errors}!=null" th:text="${errors.get('phone')}"></span><br>
					
					邮箱:<input name="email" th:value="${user}!=null?${user.email}:''">
					<span class="e" th:if="${errors}!=null" th:text="${errors.get('email')}"></span><br>
					<button >注册</button>
				</form>
			</div>
		</div>
		<aside class="sidebar" th:replace="index::.sidebar">
			
		</aside>
	</section>
	<footer class="footer" th:replace="index::.footer"> </footer>
	<div th:replace="index::#last"></div>
</body>
</html>