<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    https://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 组件扫描 -->
	<context:component-scan
		base-package="com.zj.springmvc"></context:component-scan>

	<!-- SpringMVC注解驱动标签 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 静态页面标签 -->
	<mvc:default-servlet-handler />

	<!-- location:被映射的路径，工程外的路径 classpath:/META-INF/public-web-resources/ 映射类路径中的文件夹 
		"file:/F:/images/"映射本地文件夹 mapping:映射后的路径 工程内部路径 -->
	<mvc:resources location="file:/E:/images/"
		mapping="/photo/**"></mvc:resources>


<!--  配置文件上传解析器-->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- 最大上传文件大小 -->
		<property name="maxUploadSize" value="10000000" />

	</bean>

</beans>
