<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当前接口名 -->
<mapper namespace="com.yc.damai.Dao.DmCategroyMapper">

	<!-- fetchType="lazy" 惰性加载 延迟加载 -->
	<!-- <resultMap type="com.yc.damai.been.DmCategory" id="rmdc">
		<collection property="listCategroy" column="id"
			select="selectChildren" fetchType="lazy"></collection>
	</resultMap> -->
	
	
	
	
	

	<!-- <select id="selectChildren"
		resultType="com.yc.damai.been.DmCategory">
		select * from dm_category where pid=#{id}
	</select> -->

	<!-- <select id="selectAll" resultMap="rmdc">
		select * from dm_category
	</select> -->

	<!-- <insert id="insert">
		insert into dm_category values(null,#{cname},#{pid})
	</insert>

	<update id="update">
		update dm_category set cname=#{cname},pid=#{pid} where id=#{id}
	</update>

	<delete id="delete">
		delete from dm_category where id=#{id}
	</delete> -->


</mapper>