<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当前接口名 -->
<mapper namespace="com.yc.damai.Dao.DmOrderMapper">



	<!-- <resultMap type="com.yc.damai.been.DmOrders" id="rmdos">
		一对多关联
		<collection property="list"
			select="com.yc.damai.Dao.DmOrderitemMapper.selectAll" column="id">
		</collection>
	</resultMap> -->
	
	<!-- <select id="selectbyId" resultMap="rmdos">
		select * from dm_orders
		where
		id=#{id}
	</select> -->
	
	<!-- useGeneratedKeys="true" keyProperty="id" keyColumn="id" 自动获取自增值 即id -->
	<!--MYSQL <insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		insert into dm_orders
		values(null,#{total},now(),#{state},#{uid},#{aid})
	</insert> -->
	
	<!-- Oracle没有自增列   使用序列解决问题   order="BEFORE"表示在insert之前执行
	<insert id="insert" useGeneratedKeys="true">
	<selectKey keyProperty="id" keyColumn="id" order="BEFORE">
	select
	seq_order_id.nextvalue from dual
	</selectKey>
	insert into dm_orders
		values(#{id},#{total},now(),#{state},#{uid},#{aid})
	</insert> -->
    
    <!-- <insert id="insert" useGeneratedKeys="true">
	<selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="int">
	select  last_insert_id()  mysql没有也不需要伪表 dual
	</selectKey>
	insert into dm_orders values(null,#{total},now(),#{state},#{uid},#{aid})
	</insert> -->


</mapper>