<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当前接口名 -->
<mapper namespace="com.yc.damai.Dao.DmOrderMapper">

	

	<resultMap type="com.yc.damai.been.DmOrders" id="rmdos">
	<!-- 一对多关联 -->
		<collection property="list"
			select="com.yc.damai.Dao.DmOrderitemMapper.selectAll" column="id">
		</collection>
	</resultMap>

	

	<select id="selectbyId" resultMap="rmdos">
		select * from dm_orders
		where id=#{id}
	</select>



</mapper>