<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 默认驼峰命名 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- 数据环境 -->
	<environments default="development">
		<!-- 开发环境 -->
		<environment id="development">
			<!-- 事务管理类型 -->
			<transactionManager type="JDBC" />
			<!-- type="POOLED" 数据源类型：连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1/c85-s2-zj-web" />
				<property name="username" value="root" />
				<property name="password" value="a" />
			</dataSource>
		</environment>

		<!-- 测试环境 -->
		<environment id="test">
			<!-- 事务管理类型 -->
			<transactionManager type="JDBC" />
			<!-- type="POOLED" 数据源类型：连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1/c85-s2-zj-web" />
				<property name="username" value="root" />
				<property name="password" value="a" />
			</dataSource>
		</environment>

		<!-- 生产环境 -->
		<environment id="product">
			<!-- 事务管理类型 -->
			<transactionManager type="JDBC" />
			<!-- type="POOLED" 数据源类型：连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1/c85-s2-zj-web" />
				<property name="username" value="root" />
				<property name="password" value="a" />
			</dataSource>
		</environment>

	</environments>
	<!--映射文件配置 -->
	<mappers>
	<!-- xml和注解混合模式  要使用xml方式注册 -->
		<mapper resource="com/yc/damai/Dao/ProductMapper.xml" />
		<!-- <mapper resource="com/yc/damai/Dao/CategroyMapper.xml" /> -->
		<mapper resource="com/yc/damai/Dao/OrderitemMapper.xml" />
		<!-- <mapper resource="com/yc/damai/Dao/OrderMapper.xml" /> -->
		<!-- 注册接口（无xml） -->
		<mapper class="com.yc.damai.Dao.DmOrderMapper"/>
		<mapper class="com.yc.damai.Dao.DmCategroyMapper"/>
		<!-- 自动扫描包下的接口  xml也会被扫描到 -->
		<!-- <package name="com.yc.damai.Dao"/> -->
	</mappers>
</configuration>