#  yml不能使用制表符tab 只能用普通空格进行缩进 
# 设置值使用 :空格(值) 
server:
  port: 8001
  
# 定义当前服务名
spring:
  application:
    name: suser
  #redis:
    #database: 0
    #host: 127.0.0.1
    #port: 6379
    #password: 
# 配置Eureka 服务器的地址
eureka:
  client:
    serviceUrl:
       defaultZone: http://es2:7999/eureka,http://es1:8000/eureka
       
# 开启声明式服务降级   
feign:
  hystrix:
    enabled: true
  
#yml支持同一文件内部的配置块，使用 --- 分隔每一个配置块, 每个配置块都必须有个名字, 没有名字作为默认配置块
---
server:
  port: 8005
#配置块  
spring:
  profiles: suser8005
  
---
server:
  port: 8006
#配置块  
spring:
  profiles: suser8006      


  
    



    
    

