<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
			<script type="text/javascript" src="0101util/vue.min.js"></script>
			<script type="text/javascript" src="0101util/axios.min.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div id="log" class="fr">
				<span v-if="loginuser.uname"
					style="position: relative; right: 380px; top: 7px">欢迎
					{{loginuser.uname}}</span>
				<div class="login_btn fl" v-else>
					<a href="login.html">登录</a> <span>|</span> <a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span> <a href="user_center_info.html">用户中心</a> <span>|</span>
					<a href="cart.html">我的购物车</a> <span>|</span> <a
						href="user_center_order.html">我的订单</a> <span>|</span> <a
						href="javascript:void()" @click="close">注销</a>
				</div>
			</div>
			<script type="text/javascript">
			var vue4=new Vue({
				el:"#log",
				data:{
					loginuser:{}
				},
				created:function(){
					axios({
						url:"/C85-S2-TTSX/LoginedUserServelet.do",
						params:null
					}).then((res)=>{
						if(res!=null){
							this.loginuser=res.data;
							if(res.data=="请先登录！"){
								if(confirm(res.data)){
									location.href="login.html";
								}
								location.href="login.html";
							}
						}
					});
					
				},
				methods:{
					close(){
						axios({
							url:"/C85-S2-TTSX/LastServlet.do",
							params:{
								op:"closeLogin"
							}
						}).then((res)=>{
							location.href="login.html";
						});
					},
				}
				
			})
			</script>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div id="dseach" class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品" v-model="productname">
				<input type="button" class="input_btn fr" name="" value="搜索" @click="seach">
		</div>
		<script type="text/javascript" >
		var vue5=new Vue({
			el:"#dseach",
			data:{
				productname:"",
			},
			methods:{
				seach(){
					axios({
						url:"/C85-S2-TTSX/SeachServlet.do",
						params:{
							productname:this.productname,
						}
					}).then((res)=>{
							location.href="seach.html";
					});	
					
				},
			}
		});
		
		</script>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>
<div id="app">
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul id="u2" class="subnav">
					<li><a href="list.html#1" class="fruit" >新鲜水果</a></li>
					<li><a href="list.html#2" class="seafood" >海鲜水产</a></li>
					<li><a href="list.html#3" class="meet" >猪牛羊肉</a></li>
					<li><a href="list.html#4" class="egg" >禽类蛋品</a></li>
					<li><a href="list.html#5" class="vegetables" >新鲜蔬菜</a></li>
					<li><a href="list.html#6" class="ice" >速冻食品</a></li>
				</ul>
			
			</div>
			<ul class="navlist fl">
				<li><a href="index.html">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">折扣专区</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	<div id="dclass" class="breadcrumb">
		<a href="#">全部分类</a> <span>></span> <a href="#">{{cname}}</a>
	</div>
	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul id="u3">
					<li v-for="l in list2"><a :href="'cutdetail.html#'+l.id"><img :src="l.images"></a>
						<h4>
							<a href="#">{{l.productname}}</a>
						</h4>
						<div class="prize">原价：￥{{l.price}}</div>
						<span class="prize">促销价：￥{{l.price*0.5}}</span>
						</li>
					
				</ul>
	    </div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a :href="'cutlist.html#'+pcid" >默认</a> <a class="active">价格</a> <a href="#">人气</a>
			</div>
            <div id="u1">
			<ul  class="goods_type_list clearfix">
				<li v-for="l in list1">
				<a :href="'cutdetail.html#'+l.id"><img
						:src="l.images"></a>
					<h4>
						<a href="detail.html">{{l.productname}}</a>
						<a class="prize">原价：￥{{l.price}}</a> 
					</h4>
					<div class="operate">
						<span class="prize">促销价：￥{{l.price*0.5}}</span> 
						<span class="unit">{{l.specs}}</span>
						<a href="javascript:void()" class="add_goods" title="加入购物车" @click="add(l.id)"></a><br>
						<span class="prize">剩余时间：</span><br>
						<span class="prize">{{countDownList}}</span>
					</div></li>
			</ul>
			<div class="pagenation">
				<a href="javascript:void()" @click="change(-1)">上一页 </a> 
				<input type="number"  style="width: 50px;height: 28px" v-model="page" :max="pages">
				<a href="javascript:void()" @click="change(1)" >下一页</a>
			</div>
			</div>
		</div>
	</div>
</div>
		<script type="text/javascript">
      var cid=location.hash.substring(1);
		var vue1=new Vue({
			el:"#app",
			data:{
				list1:[],
				page:"",
				pages:999,
			countDownList: '00天00时00分00秒',
			　　actEndTime: '2020-07-30 00:00:00',
			   list2:[],
			   cname:"",
			   pcid:""
			},
			created:function(){
				this.query(0,cid);
				this.querynew(cid);
				this.queryname(cid);
				this.countDown();
			},
			methods:{
				change(num){
					this.query(num,cid);
				},
				query(type,cids){
					switch(type){
					case 0:
						this.page=1;
						break;
					case 1:
						this.page+=1;
						break;
					case -1:
						this.page-=1;
						break;
					}
					if(this.page>this.pages){
						alert("你已经到达了最后一页哦");
						this.page=this.pages;
						return;
					}
					if(this.page<1){
						alert("你已经到达了第一页哦");
						this.page=1;
						return;
					}
					axios({
						url:"/C85-S2-TTSX/ReplyServlet.do",
						params:{
							cid:cids,
							page:this.page,
							op:"queryprice"
						}		
					}).then((res)=>{
						this.list1=res.data.list;
						this.pcid=res.data.list[0].cid;
						this.pages=res.data.pages;
					});
				},
				add(num){
					axios({
						url:"/C85-S2-TTSX/InsertCarServlet.do",
						params:{
							id:num,
							op:3
						}		
					}).then((res)=>{
						alert(res.data);
					});
				},
				timeFormat(param) {
				　　　　　　return param < 10 ? '0' + param : param;
				　　　　},
			    　countDown(it) {
				　　　　　　var interval = setInterval(() => {
				　　　　　　　　// 获取当前时间，同时得到活动结束时间数组
				　　　　　　　　let newTime = new Date().getTime();
				　　　　　　　　// 对结束时间进行处理渲染到页面
				　　　　　　　　let endTime = new Date(this.actEndTime).getTime();
				　　　　　　　　let obj = null;
				　　　　　　　　// 如果活动未结束，对时间进行处理
				　　　　　　　　if (endTime - newTime > 0) {
				　　　　　　　　　　let time = (endTime - newTime) / 1000;
				　　　　　　　　　　// 获取天、时、分、秒
				　　　　　　　　　　let day = parseInt(time / (60 * 60 * 24));
				　　　　　　　　　　let hou = parseInt(time % (60 * 60 * 24) / 3600);
				　　　　　　　　　　let min = parseInt(time % (60 * 60 * 24) % 3600 / 60);
				　　　　　　　　　　let sec = parseInt(time % (60 * 60 * 24) % 3600 % 60);
				　　　　　　　　　　obj = {
				　　　　　　　　　　　　day: this.timeFormat(day),
				　　　　　　　　　　　　hou: this.timeFormat(hou),
				　　　　　　　　　　　　min: this.timeFormat(min),
				　　　　　　　　　　　　sec: this.timeFormat(sec)
				　　　　　　　　　　};
				　　　　　　　　} else { // 活动已结束，全部设置为'00'
				　　　　　　　　　　obj = {
				　　　　　　　　　　　　day: '00',
				　　　　　　　　　　　　hou: '00',
				　　　　　　　　　　　　min: '00',
				　　　　　　　　　　　　sec: '00'
				　　　　　　　　　　};
				　　　　　　　　　　clearInterval(interval);
				　　　　　　　　}
				　　　　　　　　this.countDownList = obj.day + '天' + obj.hou + '时' + obj.min + '分' + obj.sec + '秒';
				　　　　　　}, 1000);
				　　　　},
				    querynew(cids){
					axios({
						url:"/C85-S2-TTSX/NewServlet.do",
						params:{
							cid:cids
						}		
					}).then((res)=>{
						this.list2=res.data;
					});
				},
                 queryname(cids){
					axios({
						url:"/C85-S2-TTSX/ProductServlet.do",
						params:{
							cid:cids,
							op:"querycid"
						}
					}).then((res)=>{
						this.cname=res.data.cname;
					});
				},
				jump(cids){
					this.query(0,cids);
					this.querynew(cids);
					this.queryname(cids);
					cid=cids;
				},
				
			}
		})
		</script>
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a> <span>|</span> <a href="#">联系我们</a> <span>|</span>
			<a href="#">招聘人才</a> <span>|</span> <a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888 京ICP备*******8号</p>
	</div>

</body>
</html>