<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 当前接口名 -->
<mapper namespace="com.yc.dao.FavoriteMapper">

	<select id="selectByTid" resultType="com.yc.bean.Favorite">
		select * from favorite a
		<where>
			<choose>
				<when test="tid==null">
					and ftages is null
				</when>
				<when test="tid >0">
					and exists(select * from tagfavorite b
					where a.fid=b.fid and b.tid=#{tid})
				</when>
			</choose>
		</where>
	</select>


</mapper>